body {
	margin: 0;
}

.container {
	display: flex;
	justify-content: center;
}

.container button {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

.btn {
	min-width: 100px;
	font-family: inherit;
	appearance: none;
	border: 0;
	border-radius: 5px;
	background: #4676d7;
	color: #fff;
	padding: 8px 16px;
	font-size: 1rem;
	cursor: pointer;
}

.btn:hover {
	background: #1d49aa;
}

.btn:focus {
	outline: none;
	box-shadow: 0 0 0 4px #cbd6ee;
}
